<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.subline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera2"/>
    <uses-permission android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_subline"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_subline_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.QRCode"
            android:label="Scanner le QRCode de la station" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SlashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".find.metros.HoraireMetro"
            android:label="Horaires" />
        <activity
            android:name=".find.rers.HoraireRer"
            android:label="Horaires" />
        <activity
            android:name="com.example.subline.find.tram.HoraireTram"
            android:label="Horaires" />
        <activity
            android:name="com.example.subline.find.nocti.HoraireNoctilien"
            android:label="Horaires" />
        <activity
            android:name=".AppelApi"
            android:label="AppelAPI" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"/>
    </application>

</manifest>